sa_credentials_file     = "sa.json"
impersonated_user_email = "admin@example.com"
gcp_project_id          = "your-gcp-project-id"

# Email of the Google group (provisioned from Okta as gcp-developers).
gcp_developers_group_email = "gcp-developers@example.com"
